.slide-bg-info {
    background-color: #fceae8;
}

.catagories img {
    width: 100px;
}

.watch-bg-color {
    background-color: #ffa500;
}

.shoe-bg-color {
    background-color: #da70d6;
}

.bag-bg-color {
    background-color: #0000ff;
}

.btn-color {
    background-color: #ff136f;
}